
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>All authors</h1>
    <ul> 
      <% authors.forEach(function(author){ %>
      <li> <a href="/authors/<%= author.dataValues.id %>" ><%=author.dataValues.firstname %></a>
      </li>
        <% }) %>
    </ul>
  </body>
</html>